<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     Carrier Update System
  </h1>
    <hr>
  
</div>
<h2>Please enter the information: </h2>
<ul>
  <form>
    <h2>Load Number:    <input type="text" name="loadNumber" id="form1"/></h2>
  
    <h2>Carrier Email:     <input type="email" name="carrierEmail" id="form2"/></h2>
  
    <h2>Time to Update: <input type="time" name="timeToUpdate" id="form3"/></h2>
  
<h3> 
  <button type="reset" value="Reset"> Clear</button> &nbsp;  <button>Submit</button>
</h3>
</form>
</ul>

<router-outlet><nav>
  <a class="button" routerLink="/load-board">Load Board</a> 
</nav></router-outlet>





